body {
	background-color: #B81D18;
	color: #F0F0F0;

}

header {
	position: absolute;
	background-color: #202020;
	text-align: center;
	height: 130px;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 2px solid #B6B6B6;
}

nav li {
	display: inline-block;
}

nav a {
	background-color: #B6B6B6;
	border: 2px solid #F0F0F0;
	border-radius: 5px;
	color: #B81D18;
	font-family: Impact;
	font-size: 16px;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
}

nav a:hover {
	padding: 8px;
	color: #F0F0F0;
	transition: 0.5s;
}

#profile {
	height: 300px;
	float: left;
	border-radius: 5%;
	margin: 5px;
}

section {
	background-color: #B6B6B6;
	text-align: left;
	border: 2px solid #202020;
	margin: 12% auto;
	min-height: 310px;
	width: 60%;
	color: black;
}

section .archive {
	background-color: #969696;
	width: 10%;
	min-height: 300px;
	min-width: 150px;
	float: left;
	margin: 5px;
}

.archive a {
	text-decoration: none;
	color: #CC0000;
}

footer {
	position: fixed;
	background-color: #202020;
	text-align: center;
	border-top: 2px solid #B6B6B6;
	height: 130px;
	left:0;
	right: 0;
	bottom: 0;
}

footer li {
	display: inline-block;
	padding: 5px;
}

footer a {
	text-decoration: none;
	color: #B6B6B6;
}

