ul.tabs {
	margin: auto;
	width: 60%;
	padding: 0;
	min-width: 600px;
}

ul.tabs li {
	background-color: #B6B6B6;
	color: black;
	padding: 5px;
	display: inline-block;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.tabs li:hover {
	background-color: white;
	color: red;
}

ul.tabs li.current {
	background-color: #B6B6B6;
	color: black;
	position: relative;
	padding-top: 7px;
	top: 2px;
}


article {
	display: none;
}

article.current {
	display: inherit;
}

section {
	border-top-left-radius: 0px;
}

img {
	display: block;
	margin:5px auto;
}

.special {
	transition: 0.5s;
	border: 1px solid black;
}

.special:hover {
	border: 1px solid red;
	transition: 0.5s;
}

pre {
  font-family: monospace;
  background-color: #F4F4F4;
  margin: 4em auto;
  padding: 5px;
  border-radius: 5px;
  border-left: 2px dashed black;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  overflow: auto;
}

.row {
	text-align: center;
	border-top: 2px ridge grey;
	padding-top: 10px;
	margin-top: 50px;
}

.col {
	width: 40%;
	display: inline-block;
}

.col pre {
	margin: 0;
	text-align: left;
}