body {
	text-align: center;
	background: #550000;
	margin: 0px;
}

main {
	background: #999999;
	border-radius: 5px;
	margin: 0% 20% .0% 20%;
	width: 60%;
}

header {
	background: #000000;
	color: #CC0000;
    border-radius: 5px;
}
