<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="page-content">
        {{ content }}
    </div>
    {% include models.html %}
    {% include footer.html %}
    <script src="{{ site.baseurl }}/js/jquery-1.12.4.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/0906975ec7.js"></script>
    <script src="{{ site.baseurl }}/js/slide.js"></script>
    <script src="{{ site.baseurl }}/js/projects.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>
  </body>

</html>
