body {
	background-color: #B81D18;
	color: #F0F0F0;
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
}

header {
	position: absolute;
	background-color: #202020;
	text-align: center;
	height: 130px;
	min-width: 640px;
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 2px solid #B6B6B6;
}

header h1 {
	font-size: 40px;
	margin-bottom: 0;
}

nav ul{
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	background-color: #B6B6B6;
	border: 3px outset red;
	border-radius: 5px;
	color: #B81D18;
	font-family: Impact;
	font-size: 16px;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
}

nav a:hover {
	padding: 8px;
	color: #F0F0F0;
	transition: 0.5s;
}

#profile {
	height: 150px;
	float: left;
	border: 2px solid black;
	border-radius: 5%;
	margin: 5px;
}

main {
	margin: 50px auto 0px auto;
	padding: 130px 5px;
	min-height: 520px;
}

section {
	background-color: #B6B6B6;
	text-align: left;
	border: 2px solid #202020;
	border-radius: 10px;
	margin: auto;
	padding: 5px;
	min-height: 310px;
	min-width: 600px;
	width: 60%;
	color: black;
}

.center {
	text-align: center;
}

footer {
	position: absolute;
	background-color: #202020;
	text-align: center;
	border-top: 2px solid #B6B6B6;
	height: 15%;
	min-height: 130px;
	min-width: 640px;
	left: 0px;
	right: 0px;
}

footer ul{
	padding: 0;
}

footer li {
	display: inline-block;
	padding: 5px 10px;
}

footer a {
	text-decoration: none;
}

#game canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}